@model WebTest.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recalculation</title>
</head>
<body>
    <h2>Процент индексации:</h2>
    <div> 
        <p><a href="/Home/Index/">На главную</a></p>
    </div>
</body>
</html>
